/* css by CHiT */

.geolocation-info-row{
    display: flex;
    flex-direction: column;
}

.manually-record-button{
    margin: 10px;
}

.timer-button-row{
    display: flex;
    justify-content: center;
}


/* css by CHiT */

#navbar{
    
    z-index: 9999;
    top: 0px;
    opacity: 80%;
}


a {
    text-decoration: none !important;
}

html {
    scroll-behavior: smooth;
}

.nav-link{
    color: #353535
}

.nav-link:visited{
    color: #000000;
    font-weight: 600;
}


.dropdown{
    width: 160px;
}

.dropdown-toggle:visited {
    background-color: #91b51b65 !important;
}

.dropdown-item:visited{
    background-color: #91b51b65 !important;
}

.dropdown-item:hover{
    background-color: #91b51b65 !important;
}

.nav-pills li>a:hover,.nav-pills li>a:focus,.nav-pills li.active{
    background-color: #91b51b65 !important;
}

#navbar-example2{
    background-color: rgba(255, 255, 255, 0.747) !important;
    position: sticky;
    top: 0px;
    z-index: 10000;
}

.navbar .dropdown-menu{ 
    right: 0; 
    left: auto; 
    background-color: rgba(255, 255, 255, 0.747) !important;
}


/* css by CHiT */

.activity-title{
    display: flex;
    justify-content: center; 
    font-size: 30px;
    font-weight: 900;
    margin-top: 5px;
}

.finish-and-submit-button-div{
    position: relative;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#activity_name{
    margin: 5px;
}

.finish-and-submit-button{
    height: 180px;
    width: 280px;
    border-radius: 10vw;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manually-record-button{
    margin-top: 10px;
    margin-bottom: 10px;
}


.timer-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.timer-from{
    position: relative;
}

.timer-button-row{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 250px;
}

.timer-activity-info{
    display: flex;
    justify-content: center; 
    font-size: 22px;
    font-weight: 900;
}

.timer-geolocation-info{
    display: flex;
    justify-content: center; 
    font-size: 16px;
    font-weight: 450;
    font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
}

.timer-info{
    display: flex;
    justify-content: center; 
    font-size: 25px;
    font-weight: 600;
}

.timer-sm{
    display: flex;
    justify-content: center; 
    font-size: 11px;
    font-weight: 500;
}

.stop-timer-and-record-row{
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 500px) {
    .activity-title{
        font-size: 5vw;
    }
    .timer-info{
        font-size: 3vw;
    }
    .timer-sm{
        font-size: 1vw;
    }
}