/* css by wung */


.outside-recent-activities{
    height: 700px;
}

.recent-activities{
    margin-top: 2%;
    height: 100px;
    width: 70%;
}

#showall-button{
    position: relative;
    left: 90%;
}

.button{
    width: 30%;
    height: 200px;
}

.delete-button{
    display: flex;
    justify-content: flex-end;
}

/* css by CHiT */


#navbar{
    position: sticky;
    z-index: 9999;
    top: 0px;
    opacity: 80%;
}


a {
    text-decoration: none !important;
}

html {
    scroll-behavior: smooth;
}

.nav-link{
    color: #353535
}

.nav-link:visited{
    color: #000000;
    font-weight: 600;
}


.dropdown{
    width: 160px;
}

.dropdown-toggle:visited {
    background-color: #91b51b65 !important;
}

.dropdown-item:visited{
    background-color: #91b51b65 !important;
}

.dropdown-item:hover{
    background-color: #91b51b65 !important;
}

.nav-pills li>a:hover,.nav-pills li>a:focus,.nav-pills li.active{
    background-color: #91b51b65 !important;
}

#navbar-example2{
    background-color: rgba(255, 255, 255, 0.747) !important;
    position: sticky;
    top: 0px;
    z-index: 10000;
}

.navbar .dropdown-menu{ 
    right: 0; 
    left: auto; 
    background-color: rgba(255, 255, 255, 0.747) !important;
}