/* css by wung */

/* .record-body{ */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("activity-pic/rugby.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    /* z-index: -1;
    filter: opacity(50%);
    height: 100%; */
/* } */

.size{
    height: 100px;
}


#Submit-button{
    position: absolute;
    right: 1%;
    bottom: 1%;
}

#back-button{
    position: fixed;
    left: 1%;
    text-align: center;
    width: 4%;
}

.form{
    height: 700px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 10px 10px 8px 10px #888888;
}

.letter-size{
    font-size: 150%;
}


/* css by CHiT */

#navbar{
    position: sticky;
    z-index: 9999;
    top: 0px;
    opacity: 80%;
}


a {
    text-decoration: none !important;
}

html {
    scroll-behavior: smooth;
}

.nav-link{
    color: #353535
}

.nav-link:visited{
    color: #000000;
    font-weight: 600;
}


.dropdown{
    width: 160px;
}

.dropdown-toggle:visited {
    background-color: #91b51b65 !important;
}

.dropdown-item:visited{
    background-color: #91b51b65 !important;
}

.dropdown-item:hover{
    background-color: #91b51b65 !important;
}

.nav-pills li>a:hover,.nav-pills li>a:focus,.nav-pills li.active{
    background-color: #91b51b65 !important;
}

#navbar-example2{
    background-color: rgba(255, 255, 255, 0.747) !important;
    position: sticky;
    top: 0px;
    z-index: 10000;
}

.navbar .dropdown-menu{ 
    right: 0; 
    left: auto; 
    background-color: rgba(255, 255, 255, 0.747) !important;
}

.check-date-message-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 0px;
    padding-top: 0px;
    font-weight: 600;
}




/* css by wung */

.add-activity-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container11{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 600px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.imgbar{
    background-image: url("activity-pic/addRecordsbar(1).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    right: 0px;
    margin-right: 0px;
    padding-right: 0px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.form-group{
    display: flex;
    flex-direction: row;
}

#submit-div{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.Add-Your-Record-By-Yourself{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}

.add-activity-from-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}