/* css by CHiT */

#navbar{
    position: sticky;
    z-index: 9999;
    top: 0px;
    opacity: 80%;
}


a {
    text-decoration: none !important;
}

html {
    scroll-behavior: smooth;
}

.nav-link{
    color: #353535
}

.nav-link:visited{
    color: #000000;
    font-weight: 600;
}


.dropdown{
    width: 160px;
}

.dropdown-toggle:visited {
    background-color: #91b51b65 !important;
}

.dropdown-item:visited{
    background-color: #91b51b65 !important;
}

.dropdown-item:hover{
    background-color: #91b51b65 !important;
}

.nav-pills li>a:hover,.nav-pills li>a:focus,.nav-pills li.active{
    background-color: #91b51b65 !important;
}

#navbar-example2{
    background-color: rgba(255, 255, 255, 0.747) !important;
    position: sticky;
    top: 0px;
    z-index: 10000;
}

.navbar .dropdown-menu{ 
    right: 0; 
    left: auto; 
    background-color: rgba(255, 255, 255, 0.747) !important;
}

.check-date-message-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 0px;
    padding-top: 0px;
    font-weight: 600;
}



/* css by samson */

/* .profile-pic-box{

    width: 25%; 
} */

.profilePicBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

#bodyBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic-img{
    border-radius:50%;
    margin: 20px;
}

#containerBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    padding: 25px;
    background-image: linear-gradient(to bottom right,rgb(255, 255, 255) , rgba(59, 58, 58, 0.171));
    border-radius: 25px;
}