/* css by wung */


/* .black-border{
    border: 2px solid black;
} */

.chose-activities{
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

/* .activities-size{
    width: 350px;
    height: 120px;

}

.activities-insize{
    margin: 20px;
    width: 150px;
    height: 80px;
} */

.start-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 300px;
}

.start-button-text{
    font-size: xx-large;
    text-align: center;

}

#Manually-button{
    position: absolute;
    right: 1%;
    bottom: 1%;
}

#back-button{
    position: absolute;
    left: 1%;
    bottom: 1%;
}


/* css by CHiT */

.activities-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.activity-item{
    margin: 3%;
    display: flex;
    flex-direction: column;
}

.activity-icon{
    height: 100px;
    margin-bottom: 0.5vw;
}

.row-under-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-recording-button{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 3px;
}

.start-recording-bottom-row{
    justify-content: center;
}

.manually-record-button{
    margin: 5%;
    font-size: 100%;
}


/* css by CHiT */

#navbar{
    position: sticky;
    z-index: 9999;
    top: 0px;
    opacity: 80%;
}


a {
    text-decoration: none !important;
}

html {
    scroll-behavior: smooth;
}

.nav-link{
    color: #353535
}

.nav-link:visited{
    color: #000000;
    font-weight: 600;
}


.dropdown{
    width: 160px;
}

.dropdown-toggle:visited {
    background-color: #91b51b65 !important;
}

.dropdown-item:visited{
    background-color: #91b51b65 !important;
}

.dropdown-item:hover{
    background-color: #91b51b65 !important;
}

.nav-pills li>a:hover,.nav-pills li>a:focus,.nav-pills li.active{
    background-color: #91b51b65 !important;
}

#navbar-example2{
    background-color: rgba(255, 255, 255, 0.747) !important;
    position: sticky;
    top: 0px;
    z-index: 10000;
}

.navbar .dropdown-menu{ 
    right: 0; 
    left: auto; 
    background-color: rgba(255, 255, 255, 0.747) !important;
}


/* css by CHiT */

@media only screen and (max-width: 767px){
    .manually-record-button{
        font-size: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .manually-record-button{
        font-size: 28px;
    }
}
