.error-page-container{
    min-height: 1000px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-error-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.error-message{
    font-size: 100px;
    font-weight: 1000px;
    text-align: center;
    background-color: rgba(136, 129, 129, 0.2);
    border-radius: 15px;
}

.backbutton{
    margin-top: 50px;
    font-size: 20px;
}

.mid-error-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
}