
/* css by CHiT */

#navbar{
    position: sticky;
    z-index: 9999;
    top: 0px;
    opacity: 80%;
}


a {
    text-decoration: none !important;
}

html {
    scroll-behavior: smooth;
}

.nav-link{
    color: #353535
}

.nav-link:visited{
    color: #000000;
    font-weight: 600;
}


.dropdown{
    width: 160px;
}

.dropdown-toggle:visited {
    background-color: #91b51b65 !important;
}

.dropdown-item:visited{
    background-color: #91b51b65 !important;
}

.dropdown-item:hover{
    background-color: #91b51b65 !important;
}

.nav-pills li>a:hover,.nav-pills li>a:focus,.nav-pills li.active{
    background-color: #91b51b65 !important;
}

#navbar-example2{
    background-color: rgba(255, 255, 255, 0.747) !important;
    position: sticky;
    top: 0px;
    z-index: 10000;
}

.navbar .dropdown-menu{ 
    right: 0; 
    left: auto; 
    background-color: rgba(255, 255, 255, 0.747) !important;
}



/* css by CHiT */

.huge-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-image-bar{
    background-image: url("activity-pic/happyhiking.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    right: 0px;
    margin-right: 0px;
    padding-right: 0px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}


.registration-form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 30px;
    margin-top: 20px;
}

.reg-form-big-column{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.425);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.reg-form-column{
    display: flex;
    flex-direction: column;
}

.reg-from-title{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.reg-form-submit-div{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}