/* css by wung */


.title{
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
    
}

.black-border{
    border: 2px solid black;
}

.page-1-left{
    height: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.introduction{
    height: 25%;
    font-size: 80px;
    margin: 10%;
}

#loginform{
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 180px;
}

.loginsize{
    width: 90%;
    margin: 3px;
}

.login-Logo{
    
    font-size: 40px;
    text-align: center;
}

.create-account-button{
    display: flex;
    justify-content: center;
}

/* .row-under-main-title{
    display: flex;
    justify-content: center;
} */


.loginFunction{
    background-color: #338CCC;
    color: white;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.form-size{
    height: 40px;
    width: 200px
}

.username-password-size{
    font-size: 25px;
}

.submit-button{
    height: 50px;
    width: 60px;
    font-size: 18px;
    text-align: center;
}


.right-text{
    margin-top: 50px;
    /* font-size: 55px; */
}

/* .outside-loginFunction{
    display: flex;
    justify-content: center;
} */

/* css by CHiT */

#navbar{
    position: sticky;
    z-index: 999999;
    top: 0px;
    opacity: 80%;
    margin-bottom: 0px;
}

a {
    text-decoration: none !important;
}

html {
    scroll-behavior: smooth;
}

.nav-link{
    color: #353535
}

.nav-link:visited{
    color: #000000;
    font-weight: 600;
}


.dropdown{
    width: 160px;
}

.dropdown-toggle:visited {
    background-color: #91b51b65 !important;
}

.dropdown-item:visited{
    background-color: #91b51b65 !important;
}

.dropdown-item:hover{
    background-color: #91b51b65 !important;
}

.nav-pills li>a:hover,.nav-pills li>a:focus,.nav-pills li.active{
    background-color: #91b51b65 !important;
}

#navbar-example2{
    background-color: rgba(255, 255, 255, 0.747) !important;
    position: sticky;
    top: 0px;
    z-index: 10000;
}

.navbar .dropdown-menu{ 
    right: 0; 
    left: auto; 
    background-color: rgba(255, 255, 255, 0.747) !important;
}



/* css by CHiT */

#jumbotronDiv{
    margin-top: 0px;
    border-top: 0px;
    position: relative;
}

#jumbotron-overlay{
    position: absolute;
    /* top: 28vw; */
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbo-carousel-superDiv{
    position: relative;
}


@media only screen and (max-width: 369px){
    #sign-in-box{
        width: 95%;
        margin-bottom: 20px;
    }
    #jumbotron-overlay{
        position: relative;
    }
    .sign-in-box-title{
        font-size: 80% !important;
        position: relative;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 800 !important;
    }
}

@media only screen and (max-width: 459px) and (min-width: 370px) {
    #sign-in-box{
        width: 85%;
        margin-bottom: 30px;
    }
    #jumbotron-overlay{
        position: relative;
    }


}

@media only screen and (max-width: 769px) and (min-width: 460px) {
    #sign-in-box{
        width: 65%;
        margin-bottom: 30px;
    }
    #jumbotron-overlay{
        position: relative;
    }

}

@media only screen and (max-width: 844px) and (min-width: 770px) {
    #sign-in-box{
        width: 45%;
        margin-bottom: 30px;
    }
    #jumbotron-overlay{
        position: relative;
    }

}

@media only screen and (max-width: 999px) and (min-width: 845px) {
    #sign-in-box{
        width: 45%;
    }
}

@media only screen and (min-width: 1000px) {
    #sign-in-box{
        width: 30%;
    }
}

#sign-in-box{
    background-color: rgba(255, 255, 255, 0.616);
    border-radius: 20px;
    z-index: 99999;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-box-title{
    font-size: 100%;
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800 !important;
}

#sign-in-box-sign-in{
    font-size: 90%;
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600 !important;
}

#sign-in-box-question-acc{
    margin-top: 5px;
    font-size: 70%;
    position: relative;
    height: auto;
    display: flex;
    justify-content: flex-start !important;
}

#error-message{
    font-size: 90%;
    margin-top: 5px;
}

#accSuccess-message{
    font-size: 90%;
}

#create-acc-button{
    color: #5a6268 !important;
}

#create-acc-button:hover{
    color: #FFFFFF !important
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 5%;
    font-size: 80%;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 5%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .sign-in-button{
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 5%;
    font-size: 80%;
  }





/* css by CHiT */

.spaceDivB4SectionTitle{
    height: 66px;
}

.title{
    display: flex;
    justify-content: center;
}

.intro-content{
    background-color: rgba(4, 131, 4, 0.158);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.calculator-title{
    /* font-size: 2vw; */
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.results-title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 50px
}

.bg-success{
    color: white;
}




.results-table{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin-bottom: 2vw;
}

.table-title-row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    border-bottom: 2px solid black;
}

.table-title-left{
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    font-weight: 800;
    width: 50%;
    border-right: 1px solid black;
}

.table-title-right{
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    font-weight: 800;
    width: 50%;
    border-left: 1px solid black;
}

.table-content-row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid black;
}


.table-content-left{
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    width: 50%;
    border-right: 1px solid black;
}

.table-content-right{
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    width: 50%;
    border-left: 1px solid black;
}


/* css by CHiT */

.calculator-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
    background-color: rgba(4, 131, 4, 0.158);
    border-radius: 15px;
}

.calculator-gender{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 25px;
    margin-bottom: 5px;
}

.calculator-age{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.calculator-height{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.calculator-weight{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.calculator-duration{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 25px;
}



/* css by CHiT */
#logged-in-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
}

#start-workout-button{
    font-size: 90%;
}

/* #sign-in-with-google-button{
    border-color:  rgba(0,0,0,0.4);
    box-shadow: inset 0px 0px 10px 3px rgba(0,0,0,0.4);
} */